@media only screen and (min-width: 1367px) and (max-width: 1440px){
  body{
    width: 1440px;
  }
  .name{
    height: 360px;
  }
  .t1, .t2{
    width: 275px;
  }
  .diskovod1, .diskovod2{
    width: 420px;
  }
  .tvshum{
    width: 540px;
    height: 460px;
  }
  .wiredisc1{
    top: 265px;
  }
  .wiredisc2{
    top: 127px;
  }
  .book{
    width: 80px;
  }
  .allbooks1{
    width: 646px;
    height: 348px;
  }
  .book5{
    left: 123px;
    top: 12px;
  }
  .book4{
    left: 220px;
    top: 12px;
  }
  .book3{
    left: 354px;
  }
  .book2{
    left: 488px;
  }
  .book1{
    left: 567px;
  }
  .date{
    font-size: 36px;
    left: -53px;
    top: 160px;
  }
  .kek{
    height: 33px;
    width: 220px;
  }
  .booksalot{
    margin-top: -345px;
  }
  .allbooks1{
    margin-left: -25px;
  }
  .shelf1{
    top: 110px;
  }
  .shelf2, .shelf3, .shelff{
    height: 40px;
  }
  .disc{
    width: 216px;
    margin-left: -119px;
  }
  .wire1{
    width: 208px;
    left: 640px;
  }
  .wire2{
    width: 540px;
    left: 900px;
  }
  .schbook{
    width: 416px;
    height: 36px;
  }
  .disc0, .disc10{
    display: none;
  }
  .name2{
    width: 180px;
    height: 130px;
    top: 82px;
  }
  .disc5{
    margin-left: -4px;
  }
  .PCimg{
    width: auto;
  }
  .monitor{
    width: 480px;
    height: 380px;
  }
  .tape3img{
    width: auto;
  }
  .schbookk{
    width: 36px;
    height: 416px;
  }
  .schbook1{
    width: 36px;
    height: 416px;
    left: 883px;
  }
  .shelf4{
    width: 1280px;
  }
  .name5{
    top: 344px;
  }
  .name4{
    top: 215px;
  }
  .shelf5, .shelf6, .shelf7{
    height: 40px;
  }
  .shelf5{
    width: 1000px;
    left: 54px;
  }
  .shelf6{
    width: 430px;
  }
  .tape4{
    width: auto;
    margin-left: 0px;
  }
  .tape5{
    width: auto;
  }
  .smallimg{
    width: auto;
  }
  .smalltxt{
    bottom: 12%;
  }
  .music{
    width: auto;
  }
  .button{
    width: 20px;
    height: 15px;
  }
  @keyframes kolonki{
    from { width: 190px; top: 0px; left: 0px; }
    to { width: 220px; top: -15px; left: -15px;}
  }
  .kolonka2{
    margin-left: 386px;
    margin-top: 128px;
  }
  .kolonka1{
    margin-top: 128px;
  }
  .bb1, .bb2, .bb3, .bb4, .bb5{
    width: auto;
  }
  .discalone{
    width: auto;
  }
  .vinyl{
    width: 315px;
    height: 315px;
  }
  .vdisc{
    width: auto;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px){
  body{
    width: 1366px;
  }
  .allbooks1{
    margin-left: -98px;
  }
  .shelff{
    width: 480px;
  }
  .name{
    height: 360px;
  }
  .t1, .t2{
    width: 275px;
  }

  .diskovod1, .diskovod2{
    width: 420px;
  }
  .tvshum{
    width: 540px;
    height: 460px;
  }
  .wiredisc1{

    top: 265px;
  }
  .wiredisc2{
    top: 127px;
  }
  .book{
    width: 80px;
  }
  .allbooks1{
    width: 646px;
    height: 348px;
  }
  .book5{
    left: 123px;
    top: 12px;
  }
  .book4{
    left: 220px;
    top: 12px;
  }
  .book3{
    left: 354px;
  }
  .book2{
    left: 488px;
  }
  .book1{
    left: 567px;
  }
  .date{
    font-size: 36px;
    left: -53px;
    top: 160px;
  }
  .kek{
    height: 33px;
    width: 220px;
  }
  .booksalot{
    margin-top: -345px;
  }
  .shelf1{
    top: 110px;
  }
}
/* @media only screen and (max-width: 1024px){
  body{
    width: 1024px;
  }
  .borderline{
    border-radius: 4px;
    outline: 4px solid black;
    outline-offset: -4px;
  }
  .name{
    height: 300px;
    z-index: 2;
  }
  .text1{
    font-size: 60px;
  }
  .allbooks1{
    margin-left: -230px;
  }
  .shelff{
    width: 380px;
    height: 34px;
  }
  .name{
    height: 360px;
  }
  .t1, .t2{
    width: 228px;
  }
  .lol{
    width: 228px;
    height: 145px;
  }
  .name1{
    width: 288px;
    height: 120px;
    left: 0px;
  }
  .diskovod1, .diskovod2{
    width: 350px;
  }
  .tvshum{
    width: 450px;
    height: 380px;
  }
  .wiredisc1{
    width: 30px;
    top: 195px;
    left: 280px;
  }
  .wiredisc2{
    width: 30px;
    top: 70px;
    left: 360px;
  }
  .book{
    width: 68px;
  }
  .allbooks1{
    width: 635px;
    height: 295px;
  }
  .book5{
    left: 195px;
    top: 12px;
  }
  .book4{
    left: 275px;
    top: 12px;
  }
  .book3{
    left: 390px;
  }
  .book2{
    left: 502px;
  }
  .book1{
    left: 567px;
  }
  .date{
    font-size: 26px;
    left: -53px;
    top: 116px;
  }
  .kek{
    height: 27px;
    width: 182px;
  }
  .booksalot{
    margin-left: -72px;
    margin-top: -200px;
    z-index: 1;
  }
  .shelf1{
    top: 75px;
  }
} */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
  body{
    width: 768px;
  }
  .borderline{
    border-radius: 3.5px;
    outline: 3.5px solid black;
    outline-offset: -3.5px;
  }
  .name{
    height: 250px;
  }
  .text1{
    font-size: 55px;
    padding-top: 30px;
    padding-left: 30px;
  }
  .text3{
    font-size: 20px;
    line-height: 25px;
    padding-left: 32px;
    padding-top: 12px;
  }
  .shelff, .shelf2, .shelf3{
    height: 30px;
  }
  .shelff{
    width: 355px;
  }
  .shelf1 {
    width: 485px;
    height: 235px;
    top: 58px;
  }
  .shelf2{
    margin-top: -5px;
  }
  .name1{
    width: 215px;
    height: 100px;
    top: -34px;
    left: 63px;
  }
  .book{
    width: 60px;
  }
  .allbooks1{
    width: 626px;
    height: 262px;
    margin-left: -360px;
  }
  .book2 {
    left: 508px;
  }
  .book3 {
    left: 408px;
  }
  .book5, .book4{
    display: none;
  }
  .date {
    font-size: 26px;
    left: -58px;
    top: 96px;
  }
  .text2{
    font-size: 32px;
  line-height: 31px;
  }
  .t1, .t2{
    width: 205px;
  }
  .lol{
    height: 133px;
  }
  .wire1{
    width: 159px;
    left: 225px;
    top: -30px;
  }
  .wire2{
    width: 402px;
    left: 363px;
    top: -30px;
  }
  .diskovod1, .diskovod2{
    width: 315px;
  }
  .wiredisc1 {
    width: 26px;
    top: 163px;
    left: 207px;
  }
  .wiredisc2 {
    width: 26px;
    top: 31px;
    left: 311px;
  }
  .tvshum{
    width: 405px;
    height: 345px;
  }
  .booksalot {
    margin-left: -105px;
    margin-top: -163px;
    z-index: 1;
    top: -5px;
  }
  .kek {
    height: 25px;
    width: 165px;
  }
  .disc{
    width: 178px;
    margin-left: -144px;
  }
  .disc0, .disc3, .disc6, .disc7, .disc8, .disc9, .disc10{
    display: none;
  }
  .schbook{
    width: 340px;
    height: 30px;
  }
  .name2{
    left: 135px;
    top: 65px;
    width: 149px;
    height: 112px;
  }
  .disc5{
    margin-left: -4px;
  }
  .disc1{
    margin-left: -4px;
  }
  .PCimg{
    width: 170px;
  }
  .monitor{
    width: 400px;
    height: 315px;
  }
  .schbookk{
    width: 30px;
    height: 338px;
  }
  .schbook1{
    width: 30px;
    height: 338px;
  }
  .shelf4{
    height: 26px;
    width: 100%;
  }
  .name4{
    height: 124px;
    width: 310px;
    left: 300px;
    top: 178px;
  }
  .name4txt{
    font-size: 200%;
  }
  .tape3{
    display: none;
  }
  .name5{
    top:270px;
  }
  .sch5{
    margin-left: 70px;
  }
  .shelf5, .shelf6, .shelf7{
    height: 26px;
  }
  .shelf5{
    width: 683px;
    left: 85px;
  }
  .shelf6{
    width: 647px;
  }
  .tape4{
    width: 143px;
    margin-left: 0px;
  }
  .tape5{
    width: 143px;
  }
  .smallimg{
    width: auto;
  }
  .smalltxt{
    bottom: 12%;
  }
  .music{
    width: 485px;
  }
  .button{
    width: 15px;
    height: 12px;
  }
  @keyframes kolonki{
    from { width: 157px; top: 0px; left: 0px; }
    to { width: 180px; top: -15px; left: -15px;}
  }
  .kolonka2{
    margin-left: 322px;
    margin-top: 107px;
  }
  .kolonka1{
    margin-top: 107px;
  }
  .bb1, .bb2, .bb3, .bb4, .bb5{
    width: 180px;
  }
  .discalone{
    width: 180px;
    position: absolute;
    right: 200px;
    bottom: 309px;
  }
  .bottombooks{
    position: absolute;
    margin: 0px;
    right: 306px;
    bottom: 309px;
  }
  .vinyl{
    width: 260px;
    height: 260px;
  }
  .vdisc{
    width: 260px;
  }
  .sm{
    display: none;
  }
  .polkak{
    position: relative;
    display: block;
  }
  .name6{
    width: 260px;
    height: 143px;
    top: -26px;
    left: 278px;
  }
  .name6txt{
    font-size: 200%;
    line-height: 100%;
  }
  .tapessecond{
    margin-top: -117px;
  }
  .tape5txt{
    left: 48%;
  }
  .allvinyl{
    position: relative;
    display: block;
  }
  .allvinyl{
    bottom: 0px;
  }
  .full2, .full3{
    margin-left: -210px;
  }
  .vdisc{
    margin-left: -135px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone */
  body{
    width: 414px;
  }
  .borderline{
    border-radius: 3px;
    outline: 3px solid black;
    outline-offset: -3px;
  }
  .name{
    height: 182px;
  }
  .text1{
    font-size: 44px;
    padding: 49px 29px;
  }
  .text3{
    display: none;
  }
  .shelff, .shelf2, .shelf3{
    height: 22px
  }
  .shelf2{
    margin-top: -2px;
  }
  .lol{
    width: 228px;
    height: 90px;
  }
  .lol1{
    margin-left: -44px;
  }
  .lol2{
    margin-left: -50px;
  }
  .t1{
    height: 90px;
  }
  .t2{
    height: 90px;
  }
  .shelf1{
    width: 390px;
    top: 40px;
  }
  .shelff{
    width: 250px;
  }
  .name1{
    width: 190px;
    height: 104px;
    top: -26px;
  }
  .text2{
    font-size: 30px;
    line-height: 30px;
  }
  .allbooks1{
    display: none;
  }
  .diskovod1, .diskovod2{
    width: 212px;
  }
  .wiredisc1, .wiredisc2{
    width: 15px;
  }
  .tvCD{
    left: 0px;
  }
  .tvshum{
    width: 267px;
    height: 232px;
  }
  .wiredisc1{
    top: 57px;
    left: 170px;
  }
  .wiredisc2{
    top: -81px;
    left: 204px;
  }
  .booksalot{
    margin-top: -150px;
    left: 50px;
    top: -2px;
  }
  .disc0, .disc2, .disc5, .disc6, .disc7, .disc8, .disc9, .disc10{
    display: none;
  }
  .disc{
    width: 120px;
    margin-left: -92px;
  }
  .disc1{
    margin-left: 0px;
  }
  .schbook{
    height: 20px;
    width: 229px;
  }
  .cltxt{
    font-size: 100%;
  }
  .txtbooksalot{
    font-size: 100%;
  }
  .name2{
    width: 128px;
    height: 90px;
    left: 86px;
    top: 28px;
  }
  .name2txt{
    font-size: 150%;
    line-height: 80%;
  }
  .wire1{
    width: 110px;
    left: 0px;
    top: -22px;
  }
  .wire2{
    width: 280px;
    left: 131px;
    top: -22px;
  }
  .PCimg{
    width: 123px;
  }
  .monitor{
    width: 290px;
    height: 230px;
  }
  .schbook1, .schbookk{
    height: 229px;
    width: 20px;
  }
  .schbookk{
    margin-left: 4px;
  }
  .tape3img{
    display: none;
  }
  .shelf33{
    position: relative;
    display: block;
    width: 100%;
    height: 22px;
    background-color: white;
    margin-top: -4px;
  }
  .name5{
    height: 66px;
    width: 95px;
    top: 451px;
  }
  .kek{
    height: 20px;
    width: 140px;
  }
  .shelf4{
    height: 22px;
    width: 100%
  }
  .sch5{
    left: 110px;
    bottom: 14px;
  }
  .tapetxt1 {
    left: 36%;
    font-size: 96%;
  }
  .txtbooksalot{
    font-size: 70%;
  }
  .name5txt{
    font-size: 150%;
    line-height: 80%;
  }
  .cltxt2{
    padding: 2% 1%;
    font-size: 100%;
  }
  .cltxt3 {
    position: absolute;
    padding: 2% .5%;
    font-size: 100%;
  }
  .cltxt4 {
    position: absolute;
    padding: 60% 8%;
    font-size: 100%;
  }
  .name4{
    left: 10px;
    width: 259px;
    height: 100px;
    top: 118px;
  }
  .name4txt{
    font-size: 174%;
    padding: 7%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}
