/* ступапупа */
@media only screen and (min-width: 1367px) and (max-width: 1440px){
  body{
    width: 1440px;
  }
  .borderline{
    border-radius: 4.5px;
    outline: 5.5px solid black;
    outline-offset: -4.5px;
  }
  .text1{
    font-size: 75px;
  }
  .name{
    height: 360px;
  }
  .tapetxt1 {
    left: 35%;
    bottom: 68%;
    font-size: 137%;
  }
  .txtbooksalot{
    font-size: 100%;
  }
  .tape3{
    margin-left: 115px;
  }
  .tape3txt{
    left: 46%;
    top: 37%;
    font-size: 137%;
  }
  .cltxt, .cltxt2, .cltxt3, .cltxt4{
    font-size: 170%;
  }
  .t1, .t2{
    width: 275px;
  }
  .diskovod1, .diskovod2{
    width: 420px;
  }
  .tvshum{
    width: 540px;
    height: 460px;
  }
  .wiredisc1{
    top: 265px;
  }
  .wiredisc2{
    top: 127px;
  }
  .book{
    width: 80px;
  }
  .allbooks1{
    width: 646px;
    height: 348px;
  }
  .book5{
    left: 123px;
    top: 12px;
  }
  .book4{
    left: 220px;
    top: 12px;
  }
  .book3{
    left: 354px;
  }
  .book2{
    left: 488px;
  }
  .book1{
    left: 567px;
  }
  .date{
    font-size: 36px;
    left: -53px;
    top: 160px;
  }
  .kek{
    height: 33px;
    width: 220px;
  }
  .booksalot{
    margin-top: -345px;
  }
  .allbooks1{
    margin-left: -25px;
  }
  .shelf1{
    top: 110px;
  }
  .shelf2, .shelf3, .shelff{
    height: 40px;
  }
  .disc{
    width: 216px;
    margin-left: -119px;
  }
  .wire1{
    width: 208px;
    left: 640px;
  }
  .wire2{
    width: 540px;
    left: 900px;
  }
  .schbook{
    width: 416px;
    height: 36px;
  }
  .disc0, .disc10{
    display: none;
  }
  .name2{
    width: 180px;
    height: 130px;
    top: 82px;
  }
  .disc5{
    margin-left: -4px;
  }
  .PCimg{
    width: auto;
  }
  .monitor{
    width: 480px;
    height: 380px;
  }
  .tape3img{
    width: auto;
  }
  .schbookk{
    width: 36px;
    height: 416px;
  }
  .schbook1{
    width: 36px;
    height: 416px;
    left: 883px;
  }
  .shelf4{
    width: 1280px;
  }
  .name5{
    top: 344px;
  }
  .name4{
    top: 215px;
  }
  .shelf5, .shelf6, .shelf7{
    height: 40px;
  }
  .shelf5{
    width: 1000px;
    left: 54px;
  }
  .shelf6{
    width: 430px;
  }
  .tape4{
    width: auto;
    margin-left: 0px;
  }
  .tape5{
    width: auto;
  }
  .smallimg{
    width: auto;
  }
  .smalltxt{
    bottom: 10%;
    font-size: 85%;
  }
  .music{
    width: auto;
  }
  .button{
    width: 20px;
    height: 15px;
  }
  @keyframes kolonki{
    from { width: 190px; top: 0px; left: 0px; }
    to { width: 220px; top: -15px; left: -15px;}
  }
  .kolonka2{
    margin-left: 386px;
    margin-top: 128px;
  }
  .kolonka1{
    margin-top: 128px;
  }
  .bb1, .bb2, .bb3, .bb4, .bb5{
    width: auto;
  }
  .discalone{
    width: auto;
  }
  .vinyl{
    width: 315px;
    height: 315px;
  }
  .vdisc{
    width: auto;
  }
  .wire3{
    width: 220px;
    top: -47px;
  }
  .wire4{
    width: 67px;
    top: -47px;
  }
  .wire5{
    width: 265px;
  }
  .radiomain{
    width: 445px;
  }
  .radiobutton {
    width: 45px;
    left: 369px;
    top: 96px;
  }
  .antena{
    height: 410px;
    left: 270px;
    top: -225px;
  }
  @keyframes antena {
    0% { transform: rotate(45deg) translatex(0px) translatey(0px);}
    50% { transform: rotate(-5deg) translatex(-160px) translatey(-65px);}
    100% { transform: rotate(45deg) translatex(0px) translatey(0px);}
  }
  .shelf8{
    width: 650px;
    height: 40px;
  }
  .udl{
    width: 1250px;
  }
  .footer {
    position: absolute;
    font-size: 22px;
    line-height: 25px;
    right: 484px;
    top: 65px;
  }
  .allvinyl{
    bottom: 38px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1366px){
  body{
    width: 1366px;
  }
  .borderline{
    border-radius: 4px;
    outline: 5px solid black;
    outline-offset: -4px;
  }
  .allbooks1{
    margin-left: -98px;
  }
  .shelff, .shelf2, .shelf3, .shelf4, .shelf5, .shelf6, .shelf7, .shlef8{
    height: 40px;
  }
  .shelff{
    width: 480px;
    height: 40px;
  }
  .name{
    height: 360px;
  }
  .text1{
    font-size: 75px;
  }
  .t1, .t2{
    width: 275px;
  }
  .diskovod1, .diskovod2{
    width: 420px;
  }
  .tvshum{
    width: 540px;
    height: 460px;
  }
  .wiredisc1{
    top: 265px;
  }
  .wiredisc2{
    top: 127px;
  }
  .book{
    width: 80px;
  }
  .allbooks1{
    width: 646px;
    height: 348px;
  }
  .book5{
    left: 123px;
    top: 12px;
  }
  .book4{
    left: 220px;
    top: 12px;
  }
  .book3{
    left: 354px;
  }
  .book2{
    left: 488px;
  }
  .book1{
    left: 567px;
  }
  .date{
    font-size: 36px;
    left: -53px;
    top: 160px;
  }
  .kek{
    height: 33px;
    width: 220px;
  }
  .booksalot{
    margin-top: -345px;
  }
  .shelf1{
    top: 110px;
  }
  .wire1{
    left: 540px;
    top: -40px;
    width: auto
  }
  .wire2{
    left: 820px;
    top: -40px;
    width: auto
  }
  .disc0, .disc10, .disc9{
    display: none;
  }
  .disc{
    width: auto;
    margin-left: -115px;
  }
  .disc5{
    margin-left: -4px;
  }
  .schbook{
    width: 416px;
    height: 36px;
  }
  .PCimg{
    width: auto;
  }
  .monitor{
    width: 480px;
    height: 380px;
  }
  .tape3img{
    width: auto;
  }
  .schbookk{
    width: 36px;
    height: 416px;
  }
  .schbook1{
    width: 36px;
    height: 416px;
    left: 883px;
  }
  .shelf4{
    width: 1280px;
  }
  .name5{
    top: 344px;
  }
  .name4{
    top: 215px;
  }
  .shelf5, .shelf6, .shelf7{
    height: 40px;
  }
  .shelf5{
    width: 1000px;
    left: 54px;
  }
  .shelf6{
    width: 430px;
  }
  .tape4{
    width: auto;
    margin-left: 0px;
  }
  .tape5{
    width: auto;
  }
  .smallimg{
    width: auto;
  }
  .smalltxt{
    bottom: 10%;
    font-size: 85%;
  }
  .music{
    width: auto;
  }
  .button{
    width: 20px;
    height: 15px;
  }
  @keyframes kolonki{
    from { width: 190px; top: 0px; left: 0px; }
    to { width: 220px; top: -15px; left: -15px;}
  }
  .kolonka2{
    margin-left: 386px;
    margin-top: 128px;
  }
  .kolonka1{
    margin-top: 128px;
  }
  .bb1, .bb2, .bb3, .bb4, .bb5{
    width: auto;
  }
  .discalone{
    width: auto;
  }
  .vinyl{
    width: 315px;
    height: 315px;
  }
  .vdisc{
    width: auto;
  }
  .wire{
    margin-left: -110px;
  }
  .wire3{
    width: 220px;
    top: -40px;
  }
  .wire4{
    width: 67px;
    top: -40px;
  }
  .wire5{
    width: 265px;
  }
  .radiomain{
    width: 445px;
  }
  .radiobutton {
    width: 45px;
    left: 369px;
    top: 96px;
  }
  .radio{
    margin-left: 55px;
  }
  .antena{
    height: 410px;
    left: 270px;
    top: -225px;
  }
  @keyframes antena {
    0% { transform: rotate(45deg) translatex(0px) translatey(0px);}
    50% { transform: rotate(-5deg) translatex(-160px) translatey(-65px);}
    100% { transform: rotate(45deg) translatex(0px) translatey(0px);}
  }
  .shelf8{
    width: 560px;
    height: 40px;
  }
  .udl{
    width: 1250px;
  }
  .footer {
    position: absolute;
    font-size: 22px;
    line-height: 25px;
    right: 484px;
    top: 65px;
  }
  .allvinyl{
    bottom: 38px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
  body{
    width: 1024px;
  }
  .borderline{
    border-radius: 4px;
    outline: 4px solid black;
    outline-offset: -4px;
  }
  .name{
    height: 300px;
    z-index: 2;
  }
  .tapetxt1{
    left: 34%;
    bottom: 68%;
    font-size: 125%;
  }
  .txtbooksalot{
    font-size: 90%;
  }
  .cltxt{
    font-size: 160%;
  }
  .tape5txt{
    font-size: 19px;
    left: 49%;
    top: 46%;
  }
  .text1 {
    font-size: 65px;
  }
  .allbooks1{
    margin-left: -230px;
  }
  .shelff{
    width: 380px;
    height: 34px;
  }
  .name{
    height: 360px;
  }
  .t1, .t2{
    width: 228px;
  }
  .lol{
    width: 228px;
    height: 145px;
  }
  .name1{
    width: 288px;
    height: 120px;
    left: 0px;
  }
  .diskovod1, .diskovod2{
    width: 350px;
  }
  .tvshum{
    width: 450px;
    height: 380px;
  }
  .wiredisc1{
    width: 30px;
    top: 195px;
    left: 280px;
  }
  .wiredisc2{
    width: 30px;
    top: 70px;
    left: 360px;
  }
  .book{
    width: 68px;
  }
  .allbooks1{
    width: 635px;
    height: 295px;
  }
  .book5{
    left: 195px;
    top: 12px;
  }
  .book4{
    left: 275px;
    top: 12px;
  }
  .book3{
    left: 390px;
  }
  .book2{
    left: 502px;
  }
  .book1{
    left: 567px;
  }
  .date{
    font-size: 26px;
    left: -53px;
    top: 116px;
  }
  .kek{
    height: 27px;
    width: 182px;
  }
  .booksalot{
    margin-left: -72px;
    margin-top: -200px;
    z-index: 1;
  }
  .shelf1{
    top: 75px;
  }
  .wire2{
    width: 530px;
    left: 493px;
    top: -33px;
  }
  .wire1{
    width: 210px;
    left: 283px;
    top: -33px;
  }
  .disc0, .disc2, .disc8, .disc9, .disc10{
    display: none;
  }
  .disc{
    width: 180px;
  }
  .schbook{
    width: 343px;
    height: 30px;
  }
  .disc{
    margin-left: -104px;
  }
  .disc1{
    margin-left: 0px;
  }
  .disc5{
    margin-left: -4px;
  }
  .name2{
    width: 160px;
    height: 110px;
    left: 183px;
    top: 66px;
  }
  .shelff, .shelf2, .shelf3, .shelf4, .shelf5, .shelf6, .shelf7, .shelf8{
    height: 34px;
  }
  .tape3{
    display: none;
  }
  .PCimg{
    width: 170px;
  }
  .monitor{
    width: 420px;
    height: 320px;
  }
  .schbookk, .schbook1{
    width: 30px;
    height: 343px;
  }
  .sch5{
    left: 753px;
    bottom: 23px;
  }
  .name4{
    width: 407px;
    height: 151px;
    left: 367px;
    top: 178px;
  }
  .sm{
    display: none;
  }
  .smallimg{
    width: 33px;
  }
  .music{
    width: 485px;
  }
  .button{
    width: 15px;
    height: 12px;
  }
  .buttonss{
    top: 35%;
  }
  @keyframes kolonki{
    from { width: 157px; top: 0px; left: 0px; }
    to { width: 180px; top: -15px; left: -15px;}
  }
  .kolonka2{
    margin-left: 318px;
    margin-top: 105px;
  }
  .kolonka1{
    margin-top: 105px;
  }
  .wire3{
    width: 156px;
    left: 175px;
  }
  .wire4{
    width: 47px;
    top: -33px;
    left: 230px;
  }
  .small1 {
    margin-left: 407px;
  }
  .shelf5{
    width: 653px;
    left: 371px;
  }
  .shelf4{
    width: 100%;
  }
  .name6{
    left: 453px;
    top: -33px;
  }
  .wire5{
    width: 150px;
    right: -84px;
  }
  .tapessecond{
    margin-top: 315px;
  }
  .tape4, .tape5{
    width: 144px;
  }
  .shelf6 {
    width: 887px;
  }
  .bottombooks {
    position: absolute;
    margin: 0px;
    right: 306px;
    bottom: 318px;
  }
  .discalone {
    width: 180px;
    position: absolute;
    right: 200px;
    bottom: 318px;
  }
  .vinyl {
    width: 260px;
    height: 260px;
  }
  .vdisc {
    width: 260px;
    margin-left: -130px;
  }
  .shelf7{
    margin-top: 262px;
  }
  .allvinyl{
    bottom: 31px;
    right: 90px;
  }
  .full2, .full3{
    margin-left: -188px;
  }
  .bb{
    height: 33px;
  }
  .bottombooks{
    right: 425px;
    bottom: 335px;
  }
  .discalone{
    right: 310px;
    bottom: 331px;
  }
  .udl {
    bottom: -373px;
    width: 1200px;
  }
  .footer {
    right: 435px;
    top: 306px;
  }
  .radiomain{
    width: 373px;
  }
  .radio{
    margin-left: 148px;
  }
  .antena{
    height: 345px;
    left: 165px;
    top: -219px;
  }
  @keyframes antena {
    0% { transform: rotate(45deg) translatex(0px) translatey(0px);}
    50% { transform: rotate(-5deg) translatex(-70px) translatey(-60px);}
    100% { transform: rotate(45deg) translatex(0px) translatey(0px);}
  }
  .wire{
    width: 150px;
  }
  .radiobutton{
    width: 33px;
    left: 311px;
    top: 83px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}
