.secondpart{
  position: relative;
  display: block;
  margin-top: -3px;
}
.shelf33{
  display: none;
}
.wire1{
  position: absolute;
  left: 1015px;
  top: -44px;
  z-index: 6;
  width: 220px;
}
.wire2{
  position: absolute;
  left: 1315px;
  top: -44px;
  z-index: 6;
  width: 600px;
}
.shelf3{
  position: relative;
  display:block;
  width: 100%;
  height: 44px;
  background-color: white;
  margin-top:-4px;
}
.disc{
  width: 245px;
  margin-left: -128px;
  animation-play-state: paused;
}
.disc0{
  position: relative;
  display: inline-block;
  /* margin-left: -108px; */
  z-index: 5;
}
.disc1{
  position: relative;
  display: inline-block;
  /* margin-left: -108px; */
  z-index: 4;
}
.disc:hover{
  animation: discs 2s running infinite;
}
@keyframes discs{
  0% { left: 0px;}
  50% {left: 60px;}
  100% {left: 0px;}
}
.disc2{
  position: relative;
  display: inline-block;
  /* margin-left: -120px; */
  z-index: 3;
}
.disc3{
  position: relative;
  display: inline-block;
  /* margin-left: -120px; */
  z-index: 2;
}
.disc4{
  position: relative;
  display: inline-block;
  /* margin-left: -120px; */
  z-index: 1;
}
.schbooks{
  display: inline-block;
  position: relative;
  margin-left: -4px;
}
.schbook{
  width: 460px;
  height: 41px;
  display: block;
}
.sch1{
  background-color: #1F3E8F;
}
.sch2{
  background-color: #F9E5CC;
}
.sch3{
  background-color: #4898A7;
}
.cltxt{
  position: absolute;
  transform: rotate(-90deg);
  padding:  2% 5%;
  font-size: 200%;
}
.disc5{
  position: relative;
  display: inline-block;
  margin-left: -4px;
  z-index: 5;
}
.disc6{
  position: relative;
  display: inline-block;
  /* margin-left: -120px; */
  z-index: 4;
}
.disc7{
  position: relative;
  display: inline-block;
  /* margin-left: -120px; */
  z-index: 3;
}
.disc8{
  position: relative;
  display: inline-block;
  /* margin-left: -120px; */
  z-index: 2;
}
.disc9{
  position: relative;
  display: inline-block;
  /* margin-left: -120px; */
  z-index: 1;
}
.disc10{
  position: relative;
  display: inline-block;
  /* margin-left: -120px; */
  z-index: 0;
}
.monitor{
  position: relative;
  display: block;
  width: 530px;
  height: 420px;
  background-color: #DADADA;
}
.xp{
  width: 81%;
  height: 78%;
  margin: 8.7%;
}
.sch4{
  position: relative;
  display: block;
  background-color: #1F3E8F;
}
.pcbook{
  position: relative;
  display: inline-block;
  margin-left: -4px;
}
.allbooks2{
  display: inline-block;
  margin-left: -4px;
}
.schbookk{
  height: 460px;
  width: 41px;
  display: inline-block;
}
.schbook1{
  height: 460px;
  width: 41px;
  display: inline-block;
  margin-left: -4px;
}
.sch5{
  position: absolute;
  display: inline-block;
  transform: rotate(-25deg);
  background-color: #1F3E8F;
  left: 979px;
  bottom: 29px;
}
.cltxt2{
  position: absolute;
  padding:  1% 0.5%;
  font-size: 200%;
}
.cltxt3{
  position: absolute;
  padding:  1% 0.1%;
  font-size: 200%;
}
.cltxt4{
  position: absolute;
  padding:  60% 8%;
  font-size: 200%;
}
.tape3{
  display:inline-block;
  position: relative;
  margin-left: 135px;
}
.tape3txt{
  position: absolute;
  transform: rotate(46.34deg);
  left: 46%;
  top: 36%;
  font-size: 150%;
}
.name2{
  position: absolute;
  width: 200px;
  height: 140px;
  background-color: white;
  left: 200px;
  top: 101px;
}
.name2txt{
  line-height: 24px;
  position: relative;
  font-size: 200%;
  padding: 10%;
}
.name4{
  position: absolute;
  width: 400px;
  height: 170px;
  background-color: white;
  left: 950px;
  top: 245px;
  z-index: 4;
}
.name4txt{
  position: relative;
  padding: 10%;
  font-weight: bold;
  font-size: 250%;
}
.name5{
  position: absolute;
  width: 160px;
  height: 100px;
  background-color: white;
  top: 390px;
}
.name5txt{
  position: relative;
  font-size: 200%;
  line-height: 80%;
  padding: 10%;
}
.shelf4{
  position: relative;
  display: block;
  width: 1412px;
  height: 44px;
  background-color: white;
  margin-top: -4px;
}
.PCimg{
  width: 226px;
}
.comp{
  display: block;
  position: relative;
  overflow: hidden;
}
.tape3img{
  width: 335px;
}
